{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airline Page</title>
    <script src="https://kit.fontawesome.com/c4dbab3247.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/airline.css' %}" />
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="{% url 'home' %}"><li>Travellar</li></a>
          <a href="{% url 'airline' %}"><li>Airlines</li></a>
          <a href="{% url 'risk' %}"><li>Risk Action</li></a>
          <a href="{% url 'crew' %}"><li>Crew</li></a>
          <a href="{% url 'journey' %}"><li>Journey Search</li></a>
        </ul>
        <img src="{% static 'img/logo.png' %}" width="150px" style="margin: auto;" />
      </nav>
    </div>
    <div class="travellersection">
      <h1>Welcome From Myanmar Airline</h1>
      <table>
        <h2>Airline Table</h2>
          {% if messages %}
            <ul class="messages">
          {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
          {% endfor %}
       </ul>
        {% endif %}
        <thead>
          <tr>
            <th style="border-top-left-radius: 10px;">Operating Date</th>
            <th>Airline</th>
            <th>Airline Name</th>
            <th>Airline No</th>
            <th>Depature Port</th>
            <th>Depature Date and Time</th>
            <th>Arrival Date and Time</th>
            <th>Flight Status</th>
            <th>Delay Issue</th>
            <th>Remarks</th>
            <th style="border-top-right-radius: 10px;">Action</th>
          </tr>
        </thead>
        {% for airlines in airlines %}
        <tbody class="tbody2">
            <tr>
              <td style="border-bottom-left-radius: 10px;">{{ airline.Operating_date }}</td>
              <td>{{ airline.Airline }}</td>
              <td>{{ airline.Airline_name }}</td>
              <td>{{ airline.Airline_NO }}</td>
              <td>{{ airline.Depature_Port }}</td>
              <td>{{ airline.Depature_Date_time }}</td>
              <td>{{ airline.Arrival_Date_Time }}</td>
              <td>{{ airline.Flight_status }}</td>
              <td>{{ airline.Delay_issue }}</td>
              <td>{{ airline.Remarks }}
              <td style="border-bottom-right-radius: 10px;">
                <a href="{% url 'editairline' airlines.pk %}"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{% url 'deleteairline' airlines.pk %}"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'createair' %}" class="plusbtn">Add Data to table<i style="text-align: right;" class="fa-solid fa-plus"></i></a>
    </div>
  </body>
</html>
