{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <script src="https://kit.fontawesome.com/c4dbab3247.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/airlineedit.css' %}" />
  </head>
  <body>
    <nav>
      <h1>Airline Update</h1>
    </nav>
    
    <a href="{% url 'airline' %}" class="backicon"><i class="fa-solid fa-backward"></i></a>
    <div class="container">
      <form action="{% url 'updateairline' airline.pk %}" method="POST">
        {% csrf_token %}

        <input type="text" name="operating_date" placeholder="Operating Date" />

        <input type="text" name="airline_name" placeholder="Airline Name" />

        <input type="number" name="airline_number" placeholder="Airline Number" />

        <input type="text" name="depature_port" placeholder="Depature Port" />

        <input type="text" name="arrival_port" placeholder="Arrival Port" />

        <input type="text" name="depature_date_and_time" placeholder="Depature Date and Time" />

        <input type="text" name="arrival_date_and_time" placeholder="Arrival Date and Time" />

        <input type="text" name="flight_status" placeholder="Flight Status" />

        <input type="text" name="delay_issue" placeholder="Delay issue" />

        <input type="text" name="remarks" placeholder="Remarks" />
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
