{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey</title>
    <link rel="stylesheet" href="{% static "css/journey.css" %}">
    <script src="https://kit.fontawesome.com/c4dbab3247.js" crossorigin="anonymous"></script>

<body>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'home' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'airline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'risk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'crew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'journey' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static "img/logo.png" %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Journey Table</h2>
            {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}
    </ul>
  {% endif %}
            <thead>
                <th style="border-top-left-radius: 10px;">No</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>Father</th>
                <th>Passport</th>
                <th>Gender</th>
                <th>Flight Name</th>
                <th>Sector</th>
                <th>Depature Date and Time</th>
                <th>Arrival Date and Time</th>
                <th>Risk Status</th>
                <th style="border-top-right-radius: 10px;">Action</th>
            </thead>
            {% for journeys in journeys %}
            <tbody class="tbody2">
            <tr>
                <td style="border-bottom-left-radius: 10px;">{{journey.No}}</td>
                <td>{{journey.Name}}</td>
                <td>{{journey.DOB}}</td>
                <td>{{journey.Father}}</td>
                <td>{{journey.Passport}}</td>
                <td>{{journey.Gender}}</td>
                <td>{{journey.FlightName}}</td>
                <td>{{journey.sector}}</td>
                <td>{{journey.Depature_Date_time}}</td>
                <td>{{journey.Arrival_Date_Time}}</td>
                <td>{{journey.Risk_Satus}}</td>
                <td style="border-bottom-right-radius: 10px;"><a href="{% url 'editjoureny' journeys.pk %}"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{% url 'deletejourney' journeys.pk %}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'createjourney'  %}" class="plusbtn">Add Data to table<i style="text-align: right;"class="fa-solid fa-plus"></i> </a>
    </div>
</body>
</html>